!! ScrollBar

URxvt.scrollBar: false

!! Transparency and Blur

!URxvt.transparent: false
!URxvt.blurRadius: 5

! lower number for shading makes terminal more opaque
!URxvt.shading: 10

!! Fonts

URxvt.font: xft:Hack:size=12
URxvt.boldFont: xft:Hack:bold:size=12
URxvt.italicFont: xft:Hack:italic:size=12
URxvt.boldItalicFont: xft:Hack:bold:italic:size=12

!! Colours

!*background: #000000

!*foreground: #XXXXXX

! colorBD: Use the specified color to display bold or italic characters when the foreground colour is default
!*colorBD: #XXXXXX

! colorn where 0-7 are low intensity normal colours and 8-15 are high intensity bright colours

! black low/high intensity
!*color0: #XXXXXX
!*color8: #XXXXXX

! red low/high intensity
!*color1: #XXXXXX
!*color9: #XXXXXX

! green low/high intensity
!*color2: #XXXXXX
!*color10: #XXXXXX

! yello low/high intensity
!*color3: #XXXXXX
!*color11: #XXXXXX


! blue low/high intensity
! 484e55
!*color4: #XXXXXX
!*color12: #XXXXXX

! magenta low/high intensity
!*color5: #XXXXXX
!*color13: #XXXXXX

! cyan low/high intensity
!*color6: #XXXXXX
!*color14: #XXXXXX
 

! white low/high intensity
!*color7: #XXXXXX
!*color15: #XXXXXX

