!! ScrollBar

URxvt.scrollBar: false

!! Borders
URxvt.internalBorder: 7

!! Cursor
URxvt.cursorUnderline: 1
URxvt.cursorColor: #f6955b

!! Transparency and Blur

!URxvt.transparent: false
!URxvt.blurRadius: 5

! lower number for shading makes terminal more opaque
!URxvt.shading: 10

!! Fonts

URxvt.font: xft:Hack:size=12
URxvt.boldFont: xft:Hack:bold:size=12
URxvt.italicFont: xft:Hack:italic:size=12
URxvt.boldItalicFont: xft:Hack:bold:italic:size=12

!! Colours

*background: #000000

*foreground: #A0A8CD

! colorBD: Use the specified color to display bold or italic characters when the foreground colour is default
*colorBD: #f6955b
*colorUL: #7199ee


! colorn where 0-7 are low intensity normal colours and 8-15 are high intensity bright colours

! black low/high intensity
*color0: #212234
*color8: #212234

! red low/high intensity
! Devices 
*color1: #ee6d85
*color9: #ee6d85

! green low/high intensity
! Executables
*color2: #95c561
*color10: #95c561

! yellow low/high intensity
! Archives
*color3: #f6955b
*color11: #f6955b

! blue low/high intensity
! Directories
*color4: #7199ee
*color12: #7199ee

! magenta low/high intensity
! Images and Movies
*color5: #a485dd
*color13: #a485dd

! cyan low/high intensity
! Music and Symbolic Links
*color6: #38a89d
*color14: #38a89d
 

! white low/high intensity
*color7: #A0A8CD
*color15: #A0A8CD

